<div id="aboutBlock" class="aboutBlock">
    <div class="modalMessageContainer">
        <div class="message">About This App</div>
	        <div class="aboutMessage">
	        This game is simply brain exercise. It includes three levels to test your mathematical skills. You have to do mathematical operation. If you get 0 in the last ball you will win the game.</br>
	        <hr/>
	        <b>Level - 1: Beginner</b></br>
	        In this level you can do any number of operations any number of times, to get zero at final ball.</br>
	        <b>Level - 2: Moderate</b></br>
	        In this level you can do any number of operations but only once, to get zero at final ball.</br>
	        <b>Level - 3: Expert </b></br>
	        In this level you can do only 3 operations, to get zero at final ball.</br>
	        </div>
        <div class="close" data-ng-click="aboutHide()">X</div>
    </div>
    <div title="Alert" class="showModal"></div>
</div>