<div id="about" data-ng-click="aboutShow()" class="about"></div>
<div id="help" data-ng-click="helpShow()" class="help"></div>
<div class="row">
    <div class="col-sm-12" data-ng-click="moveToApp('game','B')">Beginner</div>
    <div class="col-sm-12" data-ng-click="moveToApp('game','M')">Moderate</div>
    <div class="col-sm-12"data-ng-click="moveToApp('game','E')">Expert</div>
    <a id="download" class="col-sm-12" href="Contents/Download/oprations_game.apk"></a>
</div>
<about></about>
<help></help>